name: Buildroot Release

on:
  push:
    tags:
      - 'artifact_v*'

permissions:
  contents: write  # Required for creating releases

env: 
  BR_DIR: buildroot

jobs:
  build:
    name: Build Buildroot Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - name: Configure Buildroot with U-Boot
        run: |
          cd ${{ env.BR_DIR }}/
          make beaglebone_defconfig

          ### activate uboot
          echo 'BR2_TARGET_UBOOT=y' >> .config
          echo 'BR2_TARGET_UBOOT_BOARD_DEFCONFIG="am335x_evm"' >> .config
          echo 'BR2_TARGET_UBOOT_CUSTOM_VERSION=y' >> .config 
          echo 'BR2_TARGET_UBOOT_CUSTOM_VERSION_VALUE="2025.07"' >> .config 
          echo 'BR2_TARGET_UBOOT_FORMAT_IMG=y' >> .config 
          ### activate rootfs tar
          echo 'BR2_TARGET_ROOTFS_TAR=y' >> .config
          ### activate custom package
          echo 'BR2_PACKAGE_GREETING=y' >> .config
          echo 'BR2_PACKAGE_GREETING2=y' >> .config
          make olddefconfig

      - name: Build with Buildroot
        run: |
          cd ${{ env.BR_DIR }}/
          make

      - name: Prepare release files
        run: |
          mkdir -p dist
          cp ${{ env.BR_DIR }}/output/images/zImage dist/
          cp ${{ env.BR_DIR }}/output/images/rootfs.ext4 dist/
          cp ${{ env.BR_DIR }}/output/images/rootfs.tar dist/
          cp ${{ env.BR_DIR }}/output/images/am335x-bone.dtb dist/
          cp ${{ env.BR_DIR }}/output/images/MLO dist/
          cp ${{ env.BR_DIR }}/output/images/u-boot.img dist/

      - name: Generate checksums
        run: |
          cd dist
          sha256sum * > checksums.sha256

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/zImage
            dist/rootfs.ext4
            dist/rootfs.tar
            dist/am335x-bone.dtb
            dist/MLO
            dist/u-boot.img
            dist/checksums.sha256
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
